In [4]:
num1 = 10

In [2]:
num2 = 30

In [5]:
print('hello')

hello

In [14]:
import pandas as pd
df = pd.DataFrame([10,20,30,40])
df

    0
0  10
1  20
2  30
3  40

In [12]:
df.sum()

0    150
dtype: int64

In [15]:
df

    0
0  10
1  20
2  30
3  40